{% extends "orders/base.html" %}

{% block title %}Customize Your Necklace{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="preview">
        <h3>Preview:</h3>
        <p id="name_preview"></p>
    </div>
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>

<script>
    const nameInput = document.getElementById('id_custom_name');
    const namePreview = document.getElementById('name_preview');

    nameInput.addEventListener('input', function() {
        namePreview.innerText = `Name: ${nameInput.value}`;
    });
</script>

{% endblock %}
