{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2>Delivery & Returns</h2>
    <p>Next day delivery as standard on all orders.</p>
    <p>Usually, all orders placed before 14:00 will be dispatched on the same day* (or the next working day if you are ordering over the weekend or on a bank holiday). All orders are dispatched using a next working day delivery service. Orders over £70 will be dispatched free of charge.</p>
    <p>Sometimes our couriers will experience delays to their service, so ideally please allow 2-3 days for your order to arrive, once it's been dispatched to be extra safe.</p>
    <p><strong>*Next day delivery does not apply to personalised or made-to-order jewellery.</strong></p>
    <p>Some postcode exclusions to our 24-hour delivery service apply. Please check our delivery page for full details.</p>
</div>
{% endblock %}
